{% extends '::layout.html.twig' %}

{% block stylesheets %}
    <!-- Bootstrap 3.3.5 -->
   {# <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}">
    <!-- Font Awesome -->
    <link rel="stylesheet"
          href="{{ asset('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css') }}">
    <!-- Ionicons -->
    <link rel="stylesheet" href="{{ asset('https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css') }}">
    <!-- daterange picker -->
    <link rel="stylesheet" href="{{ asset('plugins/daterangepicker/daterangepicker-bs3.css') }}">
    <!-- iCheck for checkboxes and radio inputs -->
    <link rel="stylesheet" href="{{ asset('plugins/iCheck/all.css') }}">
    <!-- Select2 -->
    <link rel="stylesheet" href="{{ asset('plugins/select2/select2.min.css') }}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{{ asset('dist/css/AdminLTE.min.css') }}">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="{{ asset('dist/css/skins/_all-skins.min.css') }}">
#}

    <!-- DataTables -->
    <link rel="stylesheet" href="{{ asset('plugins/datatables/dataTables.bootstrap.css') }}">
{% endblock %}

{% block content %}
    {#
        <div id="imgPatient" style="width: 150px ; height: 150px;">
        </div>
        #}{#{{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" value="Create" />
        {{ form_end(form) }}#}

    {#
        <div style="background-color: white;" class="col-md-12">
            <div class="">
                <div class=" ">
                    <h4><strong>Ajout</strong> <span class="semi-bold">Patient</span></h4>
                </div>
                </br>
                </br>
                {{ form_start(form) }}

                <div class="row form-row">
                    <div class="col-md-3">
                        <label class="form-label">Nom : </label>
                        <div class="input-group transparent clockpicker ">
                            {{ form_widget(form.nom, { 'attr': {'class': 'form-control nom'} }) }}
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">Prenom : </label>
                        <div class="input-group transparent clockpicker ">
                            {{ form_widget(form.prenom, { 'attr': {'class': 'form-control prenom'} }) }}
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">Date de Naissance : </label>
                        {{ form_widget(form.dateNaissance, { 'attr': {'class': 'form-control dateNaissance  '} }) }}
                    </div>
                </div>
                </br>
                <div class="row form-row">
                    <div class="col-md-3">
                        <label>Tel Mobile  : </label>
                        <div class="input-group transparent  ">
                            {{ form_widget(form.telMobile, { 'attr': {'class': 'form-control firstDay telMobile'} }) }}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label>Tel Fixe  : </label>
                        <div class="input-group transparent  ">
                            {{ form_widget(form.telFix, { 'attr': {'class': 'form-control langCalendar telFixe'} }) }}
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">Email  : </label>
                        <div class="input-group transparent">
                            {{ form_widget(form.email, { 'attr': {'class': 'email'} }) }}
                        </div>
                    </div>
                </div>


                <input class="btn btn-info  pull-right" type="submit" value="Configure"/>
                {{ form_end(form) }}
            </div>

        </div>
    #}
    <div class="row -align-center">

        <div class="col-md-11 -align-center">
            <div class="box">
                <div style="background-color: #28f0ea;" class="box-header with-border border-color">
                    <h3 class="box-title -align-center">Formulaire d'Ajout :</h3>
                </div>
                {{ form_start(form , { 'attr': {'class': 'form-horizontal'} }) }}
                <div class="box-body">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">nom :</label>
                        <div class="col-sm-4">
                            {{ form_widget(form.nom, { 'attr': {'class': 'form-control titre1'} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">prenom :</label>
                        <div class="col-sm-2">
                            {{ form_widget(form.prenom, { 'attr': {'class': 'form-control  duree1'} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">date :</label>
                        <div class="col-sm-4">
                            {{ form_widget(form.dateNaissance, { 'attr': {'class': 'form-control my-colorpicker5 couleur1'} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">telMobile :</label>
                        <div class="col-sm-4">
                            {{ form_widget(form.telMobile, { 'attr': {'class': 'form-control description1'} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">telFixe :</label>
                        <div class="col-sm-4">
                            {{ form_widget(form.telFix, { 'attr': {'class': 'form-control description1'} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Email :</label>
                        <div class="col-sm-4">
                            {{ form_widget(form.email, { 'attr': {'class': 'form-control description1'} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Adresse :</label>
                        <div class="col-sm-4">
                            {{ form_widget(form.adresse, { 'attr': {'class': 'form-control description1'} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Adresse :</label>
                        <div class="col-sm-4">
                            {{ form_widget(form.file, { 'attr': {'class': 'form-control btn btn-info file'} }) }}
                        </div>
                    </div>
                    <div style="margin-top: -300px; margin-right: 60px; width: 150px; height: 150px ;"
                         class="pull-right  image">
                        <img style=" width:inherit; width: 150px; height: 150px ;" id="myImage"
                             src="{{ asset("assets/img/user2-160x160.jpg") }}" class="img-circle" alt="User Image">
                    </div>
                    <input id="addBtn" title="koko"
                           type="submit" class="btn btn-info btn-cons pull-right" value="Ajouter"/>
                </div>
                {#<div class="box-footer">
                </div>#}
                {{ form_end(form) }}
            </div>
        </div>
    </div>

    <div class="box">
        <div class="box-body">
            <table  class="table table-bordered  koko -align-center table-hover">
                <thead style="background-color: #28f0ea;">
                <tr>
                    <th>Nom & Prenom</th>
                    <th> tel (min)</th>
                    <th>Email</th>
                    <th>Adresse</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for patient in patients %}
                    <tr></tr>
                    <td>
                        <img style=" width:inherit; width: 50px; height: 50px ;" id="" src="{{ asset("assets/img/user2-160x160.jpg") }}" class="img-circle" alt="User Image">
                        {{ patient.nom }} {{ patient.prenom }}</td>
                    <td> {{ patient.telMobile }}</td>
                    <td>{{ patient.email }} </td>
                    <td>{{ patient.adresse }}</td>
                    <td>
                        <a  class="glyphicon glyphicon-trash delete"
                           data-toggle="tooltip"  title="Supprimer"
                        ></a>
                        <a   title="modifier"
                             class="glyphicon glyphicon-pencil edit"></a>
                    </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                </tfoot>
            </table>
        </div>
    </div>



{% endblock %}



{% block javascripts %}
    <!-- DataTables -->
    <script src="{{ asset("plugins/datatables/jquery.dataTables.min.js") }}"></script>
    <script src="{{ asset("plugins/datatables/dataTables.bootstrap.min.js") }}"></script>
    <script>

        $(function () {

            $('.koko').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": true,
                "infoEmpty": "Aucun Type Trouver :)"
            });


            $('#patient_file').change(function () {

                console.log($('#patient_file').val());
                $('#myImage').attr('src', '{{ asset("uploads/2601768a567550e18d2e9c5a85906babca31ec4e.jpeg") }}');
            });


        });


    </script>
{% endblock %}
